#content.lyrics {
	width: auto !important;
	font-size: 14px;
	line-height: 16px;
}

#content.lyrics p, #content.lyrics ul, #content.lyrics p, #content.lyrics ul, #content.lyrics ol, #content.lyrics dd, #content.lyrics pre, #content.lyrics hr {
	margin-bottom: 14px;
}

#content.lyrics pre {
	font-family: Andale Mono, monospace;
	font-size: 12px;
	line-height: 14px;
	padding: 0.5em;
	background-color: #eee;
	border-radius: 0.5em;
	display: inline-block;
}

