<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title>{{ page.title }} | Stranger Ways</title>
<link rel="stylesheet" type="text/css" media="all" href="/style.css" />
<script type="text/javascript" src="/degradable-html5-audio-and-video/incl/audio-player.js"></script>

<script type="text/javascript">

	AudioPlayer.setup("/degradable-html5-audio-and-video/incl/player.swf", {

		/* Format the player by inserting lines here. See http://wpaudioplayer.com/standalone */

		width: 290,

		initialvolume: 80

	});

</script>
<!-- Jetpack Open Graph Tags -->
<meta property="og:type" content="blog" />
<meta property="og:title" content="Stranger Ways" />
<meta property="og:url" content="/" />
<meta property="og:site_name" content="Stranger Ways" />
</head>

<body class="home page page-id-8 page-template-default">
<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">
			<div id="branding" role="banner">
								<h1 id="site-title">
					<span>
						<a href="/" title="Stranger Ways" rel="home">Stranger Ways</a>
					</span>
				</h1>
				<div id="site-description"></div>

										<img src="/images/sw2.0-banner-21.jpg" width="940" height="198" alt="" />
								</div><!-- #branding -->

			<div id="access" role="navigation">
			  				<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
								<div class="menu-header">
                  <ul id="menu-navigation" class="menu">
                    {% for link in site.navigation %}
                      {% capture canonical_link_url %}{{ link.url }}/index.html{% endcapture %}
                      <li class="menu-item menu-item-type-custom menu-item-object-custom {% if page.url == canonical_link_url %}current-menu-item current_page_item{% endif %}">
                        <a  href="{{ link.url }}">{{ link.text }}</a>
                      </li>
                    {% endfor %}
</ul></div>			</div><!-- #access -->
		</div><!-- #masthead -->
	</div><!-- #header -->

	<div id="main">
