<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title>{{ page.title }} | Stranger Ways</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="Stranger Ways" />
</head>

<body>
<div class="container-fluid">
	<div id="header" class="row-fluid">
			<img src="/images/sw2.0-banner-21.jpg" width="940" height="198" alt="stranger-ways" />

			<div class="navbar">
				<div class="navbar-inner">
          <ul class="nav">
            {% for link in site.navigation %}
              {% capture canonical_link_url %}{{ link.url }}/index.html{% endcapture %}
              <li {% if page.url == canonical_link_url %}class="active"{% endif %}>
                <a href="{{ link.url }}/">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
		</div>
	</div>
</div>