---
title: Photos
author: Nat
layout: page
---
<a title="Stranger Ways 2.0 Photos" href="/photos/stranger-ways-2.0/" style="display: inline-block; margin: 5px;">
  <%= image_tag "/photos/stranger-ways-2.0/IMG_5245_2.jpg", resize_to: "267x400", alt: "Stranger Ways 2.0 (2011)" %>
  <br /> 
  <h4>Stranger Ways 2.0 (2011)</h4>
</a>
<a title="Stranger Ways 1.0 Photos" href="/photos/stranger-ways-1.0/" style="display: inline-block; margin: 5px;">
  <%= image_tag "/photos/stranger-ways-1.0/IMG_10531.jpg", resize_to: "267x400", alt: "Stranger Ways 1.0 (2010)" %>
  <br /> 
  <h4>Stranger Ways 1.0 (2010)</h4>
</a>