---
title: Welcome
author: Nat
layout: page
---
<div class="row-fluid">

  <div class="span8">
    Stranger Ways is a dark modern folk band based in greater Boston.  We play a mix of traditional and original music with heavy harmonies and a macabre sense of humor.

    <h2>Listen to Stranger Ways</h2>

    <ul>
      <li><a href="/music"><strong>Music:</strong> Our albums and demo recordings</a></li>
      <li><a href="http://www.youtube.com/user/StrangerWaysMusic/featured/"><strong>Videos:</strong> Our concert videos on YouTube</a></li>
    </ul>

    <h2>Upcoming!</h2>

    <ul>
      <li>
        <strong>Shows:</strong>
        <ul>
          <li><a href="/2015/12/arisia-2016">Stranger Ways &amp; Murder Ballads at Arisia 2016</a> - January 16, 2016</li>
          <li>If you'd like us to play a concert, we'd probably love to!  Please <a href="mailto:info@stranger-ways.com">email us</a> and we'll talk.</li>
        </ul>
      </li>
      <li><strong>Album:</strong> We’re currently working on <em>Iron and Rust</em>, a folk-rock opera about humans and faeries.  More information soon!</li>
    </ul>
  </div>

  <div class="span4">
    <a href="/photos/stranger-ways-2.0"><%= image_tag "/photos/stranger-ways-2.0/IMG_5398.jpg", alt: "Stranger Ways 2.0 in an elevator", resize_to: "200x300" %></a>
  </div>
</div>